.container1{
    width: 1320px;
    

}
.box{
    display: flex;
}
ul,ol{
    list-style: none;
    cursor: pointer;

}
a{
    text-decoration: none;
    color:black;

}
/*----------- manu strat------- */
.logo{
    width: 20%;

}
.manu{
    width: 80%;
}

nav{
     background: #f85706e9;
     padding: 44px 0px;
}
nav .box{
    display: flex;
    align-items: center;
}
.manu ul{
    display: flex ;
    list-style: none;
    column-gap: 59px;
    /* position: relative; */
  
    
}
.manu ul li{
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
     

}
.manu{
    position: relative;
}
.manu  ul{
   position: absolute;
   top: -80px;
   right: 0;
}
.manu li a{
    color: white;
}
.me-2{
   
    width: 800px;
    position: absolute;
    top: -130px;
    right: -1200px;
    text-decoration-color: black;
}
.searchbox{
     background: #F85606;
      padding: 20px 0px;

}
.box001{
    position: relative;
}
.bannerimg{
    background-color: #F5F5F5;
    display: flex;
}


/*----------- manu end------- */
.slide{
    width: 80%;
}
.pic2{
    width: 20%;
}
.pic2 img{
    height: 370px;
}
.banner20{
    margin-left: 110px;
}
.lekha1 h3{
    font-size: 22px;
    font-weight: 400;
    font-family: "Noto Sans", sans-serif;
}
.heding{
    font-size: 14px;
    font-weight: 600;
    color: #ff6d18ee;
    font-family: "Noto Sans", sans-serif;
    padding-left: 20px;
    
}
.buton1{
    text-decoration: none;
    padding: 5px 15px;
    background: transparent;
    border: 1px solid #f57124ee;
    font-size: 14px;
    font-weight: 600;
    color: #f57124d8;
    font-family: "Noto Sans", sans-serif;
    margin-left: 1000px;
}
.start{
    background: #F5F5F5;
     border-bottom: 1px solid rgba(77, 75, 75, 0.3); 
     padding: 15px 0px;
}
.productpart .product1{
    width: 300px;
    height: 350px;
    

}
.productpart .product2{
    width: 300px;
    height: 350px;
    

}
.productpart .product3{
    width: 300px;
    height: 350px;
    

}
.productpart .product4{
     width: 300px;
    height: 350px;
    
}
.productpart .product5{
     width: 300px;
    height: 350px;
    
}
.productpart .product6{
   width: 300px;
    height: 350px;
    
} 
.product1 .card-text{
    font-size: 14px;
    font-weight: 600;
    font-family: "Noto Sans", sans-serif;
}
.product1 h3{
     font-size: 18px;
    font-weight: 600;
    color: #f57224;
    font-family: "Noto Sans", sans-serif;
}
.product1 .text-body-secondary{
    opacity: 0.4;

}
.product1 .text-body-secondary span{
    opacity: 1;
}
.product1{
    background: transparent;
    /* border: 1px solid #F5F5F5 ; */
    transition: .4s;
    display: inline-block;
}
.product1:hover{
 box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.54);
-webkit-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.54);
-moz-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.54);
}

.product2 .card-text{
    font-size: 14px;
    font-weight: 600;
    font-family: "Noto Sans", sans-serif;
}
.product2 h3{
     font-size: 18px;
    font-weight: 600;
    color: #f57224;
    font-family: "Noto Sans", sans-serif;
}
.product2 .text-body-secondary{
    opacity: 0.4;

}
.product2 .text-body-secondary span{
    opacity: 1;
}
.product2{
    background: transparent;
    /* border: 1px solid #F5F5F5 ; */
    transition: .4s;
    display: inline-block;
}
.product2:hover{
           box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.54);
-webkit-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.54);
-moz-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.54);
}
.product3 .card-text{
    font-size: 11px;
    font-weight: 600;
    font-family: "Noto Sans", sans-serif;
}
.product3 h3{
     font-size: 18px;
    font-weight: 600;
    color: #f57224;
    font-family: "Noto Sans", sans-serif;
}
.product3 .text-body-secondary{
    opacity: 0.4;

}
.product3 .text-body-secondary span{
    opacity: 1;
}
.product3{
    background: transparent;
    /* border: 1px solid #F5F5F5 ; */
    transition: .4s;
    display: inline-block;
}
.product3:hover{
      box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.54);
-webkit-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.54);
-moz-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.54);
}
.product4 .card-text{
    font-size: 14px;
    font-weight: 600;
    font-family: "Noto Sans", sans-serif;
}
.product4 h3{
     font-size: 18px;
    font-weight: 600;
    color: #f57224;
    font-family: "Noto Sans", sans-serif;
}
.product4 .text-body-secondary{
    opacity: 0.4;

}
.product4 .text-body-secondary span{
    opacity: 1;
}
.product4{
    background: transparent;
    /* border: 1px solid #F5F5F5 ; */
    transition: .4s;
    display: inline-block;
}
.product4:hover{
      box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.54);
-webkit-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.54);
-moz-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.54);
}
.product5 .card-text{
    font-size: 13px;
    font-weight: 600;
    font-family: "Noto Sans", sans-serif;
}
.product5 h3{
     font-size: 23px;
    font-weight: 600;
    color: #f57224;
    font-family: "Noto Sans", sans-serif;
}
.product5 .text-body-secondary{
    opacity: 0.4;

}
.product5 .text-body-secondary span{
    opacity: 1;
}
.product5{
    background: transparent;
    /* border: 1px solid #F5F5F5 ; */
    transition: .4s;
    display: inline-block;
    
}
.product5:hover{
      box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.54);
-webkit-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.54);
-moz-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.54);
}
.product6 .card-text{
    font-size: 14px;
    font-weight: 600;
    font-family: "Noto Sans", sans-serif;
}
.product6 h3{
     font-size: 18px;
    font-weight: 600;
    color: #f57224;
    font-family: "Noto Sans", sans-serif;
}
.product6 .text-body-secondary{
    opacity: 0.4;

}
.product6 .text-body-secondary span{
    opacity: 1;
}
.product6{
    background: transparent;
    /* border: 1px solid #F5F5F5 ; */
    transition: .4s;
    display: inline-block;
}
.product6:hover{
      box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.54);
-webkit-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.54);
-moz-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.54);

}
.card-body{
    background: #F5F5F5;
}
.lekha2 h3{
    margin-top: 40px;
    font-size: 22px;
    font-weight: 400;
    font-family: "Noto Sans", sans-serif;
}
/* .cetagory{

} */
.c1{
    width: 165px;
    height: 220px;
    background: #F5F5F5;
}
.c2{
    width: 175px;
    height: 220px;
    background: #F5F5F5;
}
.c3{
    width: 175px;
    height: 220px;
    background: #F5F5F5;
}
.c4{
    width: 175px;
    height: 220px;
    background: #F5F5F5;
}
.c5{
    width: 175px;
    height: 220px;
    background: #F5F5F5;
}
.c6{
    width: 175px;
    height: 220px;
    background: #F5F5F5;
}
.c7{
    width: 175px;
    height: 220px;
    background:#F5F5F5 ;
}
.c8{
    width: 175px;
    height: 220px;
    background: #F5F5F5;
}
.cetagory p{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
     font-family: "Noto Sans", sans-serif;
  
}
.cetagory img{
    width: 100%;
}
.c1{
    /* background: transparent; */
    border: 1px solid #F5F5F5 ;
    transition: .4s;
    display: inline-block;
}
 .c1:hover{
    box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.1);
-webkit-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.1);
-moz-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.1);

}
.c2{
    /* background: transparent; */
    border: 1px solid #F5F5F5 ;
    transition: .4s;
    display: inline-block;
}
.c2:hover{
      box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.1);
-webkit-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.1);
-moz-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.1);

}
.c3{
    /* background: transparent; */
    border: 1px solid #F5F5F5 ;
    transition: .4s;
    display: inline-block;
}
.c3:hover{
        box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.1);
-webkit-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.1);
-moz-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.1);

}
.c4{
    /* background: transparent; */
    border: 1px solid #F5F5F5 ;
    transition: .4s;
    display: inline-block;
}
.c4:hover{
     box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.1);
-webkit-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.1);
-moz-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.1);

}
.c5{
    /* background: transparent; */
    border: 1px solid #F5F5F5 ;
    transition: .4s;
    display: inline-block;
}
.c5:hover{
      box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.1);
-webkit-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.1);
-moz-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.1);

}
.c6{
    /* background: transparent; */
    border: 1px solid #F5F5F5 ;
    transition: .4s;
    display: inline-block;
}
.c6:hover{
      box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.1);
-webkit-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.1);
-moz-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.1);

}
.c7{
    /* background: transparent; */
    border: 1px solid #F5F5F5 ;
    transition: .4s;
    display: inline-block;
}
.c7:hover{
      box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.1);
-webkit-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.1);
-moz-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.1);

}
.c8{
    /* background: transparent; */
    border: 1px solid #F5F5F5 ;
    transition: .4s;
    display: inline-block;
}
.c8:hover{
      box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.1);
-webkit-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.1);
-moz-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.1);

}
.justme{
    display: flex;
}
.justme .item{
    width: 216px;
    height: 300px;
    background: #ffffff;
   
}
.justme .item .j1{
    width: 216px;
    height: 60%;
   
}
.j1 img{
    width: 100%;
    height: 100%;
}
.justme .item .j2{
    width: 216px;
    height: 40%;
    background: rgb(255, 255, 255);
}

.justme .item .j2 h3{
 font-size: 18px;
    font-weight: 600;
    color: #f57224;
    font-family: "Noto Sans", sans-serif;
}
.justme .j2 .card-text{
      font-size: 14px;
    font-weight: 600;
    font-family: "Noto Sans", sans-serif;
}
.justme .item .j2 span{
    font-size: 12px;
    color: black;
    font-weight: 500;
}
.justme .item{
    /* background: transparent; */
    border: 1px solid #F5F5F5 ;
    transition: .4s;
    display: inline-block;
}
.item:hover{
      box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.3);
-webkit-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.3);
-moz-box-shadow: -1px 16px 14px 6px rgba(0,0,0,0.3);

}
.justme .j2 {
    padding-left: 8px;
}
.justmetwo{
    display: flex;
    margin-top: 30px;
}
.load a{
  
    padding: 10px 200px;
    border: 1px solid rgb(52, 148, 204);
    color:rgb(52, 148, 204) ;
  
    

}
.load{
    margin-top: 50px;
    margin-left: 680px;
}
.last{
    margin-top: 50px;
    background: #F5F5F5;
}
.last .onepoint{
     width: 330px;
     height: 500px;
    
}
.onepoint h3{
    font-size: 16px;
    font-weight: 500;
     font-family: "Noto Sans", sans-serif;
     margin-left: 27px;
     margin-top: 20px;
}
.onepoint ul li{
    font-size: 12px;
    font-weight: 500;
     font-family: "Noto Sans", sans-serif;
     line-height: 20px;
}
.twopoint h3{
    font-size: 16px;
    font-weight: 500;
     font-family: "Noto Sans", sans-serif;
     margin-left: 27px;
     margin-top: 20px;
}
.twopoint ul li{
    font-size: 12px;
    font-weight: 500;
     font-family: "Noto Sans", sans-serif;
     line-height: 20px;
}
.last .twopoint{
     width: 330px;
     height: 500px;
     
}
.last .threepoint{
     width: 330px;
     height: 500px;
     
}
.threepoint img{
    margin-left: 27px;
     margin-top: 20px;
}
.fourpoint img{
   
     margin-top: 20px;
}
.last .fourpoint{
     width: 330px;
     height: 500px;
     
}
.last2 .payment{
     width: 330px;
     height: 500px;
     
}
.last2 .verify{
     width: 330px;
     height: 500px;
     
}
.last2 .dbi{
     width: 330px;
     height: 400px;
     
}
.last2 h3{
    margin-top: 40px;
    font-size: 16px;
     font-family: "Noto Sans", sans-serif;

}
.last2 .verify h3{
    margin-top: 40px;
    font-size: 16px;
     font-family: "Noto Sans", sans-serif;
     margin-left: 40px;

}
.last2 .verify img{
    margin-left: 40px;

}
.last3{
    background: #F5F5F5;
}
.last3 .text1{
     width: 250px;
     height: 2000px;
     
}
.last3 .text2{
     width: 300px;
     height: 2000px;
     
     
}
.last3 .text3{
     width: 300px;
     height: 2000px;
     
     
}
.last3 .text4{
      width: 350px;
     height: 2000px;
     
     
}
.last3 h3{
    font-size: 16px;
    font-weight: 500;
    color: #606060;
    margin-top: 20px;
}
.last3 p{
    font-size: 12px;
    font-weight: 400;
    color: #888888;
    margin-top: 20px;
}
.last3 .text2 h3{
    font-size: 16px;
    font-weight: 500;
    color: #606060;
    margin-top: 20px;
    margin-left: 30px;
}
.last3 .text2 p{
    font-size: 12px;
    font-weight: 400;
    color: #888888;
    margin-top: 20px;
    margin-left: 30px;
}
.last3 .text3 h3{
    font-size: 16px;
    font-weight: 500;
    color: #606060;
    margin-top: 20px;
    margin-left: 30px;
}
.last3 .text3 p{
    font-size: 12px;
    font-weight: 400;
    color: #888888;
    margin-top: 20px;
    margin-left: 30px;
}
.last3 .text4 p{
    font-size: 12px;
    font-weight: 400;
    color: #888888;
    margin-top: 20px;
    margin-left: 60px;
}

